
<div class="text-center mt-4 border border-dark w-50 mx-auto pb-4 shadow">
  <h1>Showing article details</h1>
  <p>by <%= @article.user.username if @article.user %></p>
  <p><strong>Title:</strong><%= @article.title %></p>
  <p><strong>Description:</strong><%= @article.description %></p>
  <span class="text-center"><%= link_to 'Edit', edit_article_path(@article.id), class: 'btn btn-success' %></span>
<span class="text-center"><%= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></span>
<span class="text-center"><%= link_to 'Return to articles listing', articles_path, class: 'btn btn-primary' %></span>
</div>


