<%= form_with(model: @user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="text-center border border-dark w-25 mx-auto bg-light">
  <div class="field d-flex flex-column w-75 mx-auto">
    <%= form.label :username, class: 'font-weight-bold' %>
    <%= form.text_field :username %>
  </div>
  <div class="field d-flex flex-column w-75 mx-auto">
    <%= form.label :email, class: 'font-weight-bold' %>
    <%= form.text_field :email %>
  </div>
  <div class="field d-flex flex-column w-75 mx-auto">
    <%= form.label :password, class: 'font-weight-bold' %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
  </div>
</div>

<% end %>
