<p id="notice"><%= notice %></p>

<h4 class="text-center">
  <strong>Username:</strong>
  <%= @user.username %>
</h4>
<%= render 'articles/article', obj: @user.articles %>
<div class="text-center">
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %> 
  <%= link_to 'Back', users_path, class: 'btn btn-info' %>
</div>

